
<div class="mb-4 text-center">
{{> message}}
<table class="table table-striped">
  <tbody>
    <tr>
      <td>總金額: </td>
        <td><h1 class="display-5"><p class="text-warning">total amount</p></h1></td>
    </tr>
    {{#each records}}
    <tr>
      <td> 
            {{ this.date }}
            {{ this.categoryId.name }}
            {{ this.name }}
      </td>
      <td> {{ this.amount }}</td>
       
      <td> 
              <a class="btn btn-light" href="./records/{{this._id }}">edit</a>
              <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-light" type="submit">delete</button>
              </form>

      </td>  
    </tr>
    {{/each}}
  </tbody>
</table>
<a class="btn btn-warning" href="./records/new">新增支出</a>
</div>